.org-wrapper {
  position: relative;
  width: calc(50% - 2px);
  height: 40px;
  line-height: 38px;
  font-family: 'MontserratMedium';
  margin-bottom: 10px;
  background: #f2f2f2;
  border: 1px solid #7070703B;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  transition: all linear .2s;
}
.children-container {
  margin-left: 20px;
}
